body{
    margin: 0;
}

.login_container{
    text-align: center;
    margin: 2em;
}

.form_container{
    max-width: 400px;
    margin: 0 auto;
}

.form_group{
    margin-bottom: 1em;
}

label{
    display: block;
    margin-bottom: 0.5em;
}

input{
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.button_container{
    margin-top: 1em;
}

button{
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color: #555;
}

.link_container{
    margin-top: 2em;
}

.error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.success-message {
    color: green;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

